.no-padding{
    padding: 0;
}

.no-margin{
    margin: 0;
}

.sidebar{
    width: 200px;
    height: 600px;
    border-right: solid 4px #552211;
}

.titlebar{
    height: 60px;
    border-bottom: outset 4px #552211;
}

.topbar{
    width: 1000px;
    height: 75px;
    border-bottom: inset 4px #552211;
}

.btn-bar{
    margin: 5px;
    padding: 5px;
    min-height: 65px;
    min-width: 150px;
    border-radius: 5px;
}

.btn-sidebar{
    width: 120px;
    height: 120px;
    border-radius: 15px;
    border-width: 2px;
    margin: 5px;
}

.avi-theme-1{
    background-color: #ccaa88;
    border-color: #552211;
}

.avi-theme-2{
    background-color: #774433;
    border-color: #552211;
}

.avi-theme-1-button{
    border: outset #ffa051 2px;
    background-color: burlywood;
    color: #000055;
}

.avi-theme-3-button{
    background-color: #331111;
    color: #ff4477;
    border-color: #000055;
}