.no-padding{
    padding: 0;
}

.no-margin{
    margin: 0;
}

.sidebar{
    width: 200px;
    height: 600px;
    border-right: solid 4px #552211;
}

.titlebar{
    height: 60px;
    border-bottom: outset 4px #552211;
}

.topbar{
    width: 1000px;
    height: 75px;
    border-bottom: inset 4px #552211;
}

.btn-bar{
    margin: 5px;
    padding: 5px;
    min-height: 65px;
    min-width: 150px;
    border-radius: 5px;
}

.lbl-bar{
    margin: 5px;
    padding: 5px;
    height: 65px;
    border-radius: 5px;
}

.img-lbl-bar{
    margin: 0;
    padding: 0;
    width: 65px;
    height: 65px;
}

.btn-sidebar{
    display: inline;
    width: 120px;
    height: 120px;
    border-radius: 15px;
    border-width: 2px;
    margin: 5px;
}

.avi-theme-1{
    background-color: #ccaa88;
    border-color: #552211;
}

.avi-theme-2{
    background-color: #774433;
    border-color: #552211;
}

.avi-theme-4{
    background-color: #222233;
    border-color: #111111;
}

.avi-theme-1-button{
    border: outset #ffa051 2px;
    background-color: burlywood;
    color: #000055;
}

.avi-theme-3-button{
    background-color: #331111;
    color: #ff4477;
    border-color: #000055;
}

.avi-theme-4-button{
    background-color: rgba(0, 0, 85, 0.75);
    color: #ff4477;
    border-color: #000022;
}

.big-button{
    width: 200px;
    height: 200px;
    border-radius: 15px;
    font-size: 24px;
}

.right{
    float: right;
}

html{
  height: 100%;
}
body{
  width: 100%;
  height: 100%;
}
.menu{
    background-image: url("../src/img/tree.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100vm;
    height: 100vm;
    background-color: black;
}

.center{
  margin: auto;
}

.startGame{
  align-self: center;
  width: 40%;
  height: 20%;
  background-color: rgba(100, 100, 100, 0.7);
  border: none;
  font-size: 4vw;
  text-align: center;
  color: rgb(100, 255, 0);
  text-shadow: 6px 6px 6px rgba(255, 255, 255, 0.5);
  box-shadow: 10px 10px 5px grey;
}

.bypass-login{
    align-self: center;
    width: 10%;
    height: 5%;
    background-color: rgba(100, 100, 100, 0.7);
    border: none;
    font-size: 18px;
    text-align: center;
    color: rgb(100, 255, 0);
    text-shadow: 6px 6px 6px rgba(255, 255, 255, 0.5);
    box-shadow: 10px 10px 5px grey;
}

.menuTitle{
  width: 100%;
  height: 20%;
  background-color: rgba(100, 100, 100, 0.7);
  border: none;
  font-size: 5vw;
  text-align: center;
  color: rgb(100, 255, 0);
  text-shadow: 6px 6px 6px rgba(255, 255, 255, 0.5);
  box-shadow: 10px 10px 5px grey;
}

.tree{
    background-image: url("../src/img/tree.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100vm;
    height: 100vm;
    background-color: black;
}

.absoluteCenter{
    width:800px;
    border-radius: 5px;
    padding:10px;
    height:50px;
    position:absolute;
    margin-top:-25px;
    margin-left:-400px;
    top:30%;
    left:50%;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid rgba(0,0,0);
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #552211;
    color: white;
}

.modal-body {
  padding: 2px 16px;
  background-color: #CCAA88;
}

.modal-footer {
    text-align: left;
    padding: 2px 16px;
    background-color: #552211;
    color: white;
}
